.page-home {
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
  }

  .hero {
    background-color: #f6f8fd;
    padding-top: 50px;
    padding-bottom: 50px;

    h1 {
      line-height: 55px;
      margin-bottom: 20px;

      @include media-breakpoint-down(md) {
        font-size: 38px;
      }
    }

    .description-hero {
      font-weight: 300;
      font-size: 18px;
      color: #34364a;
      margin-bottom: 40px;
    }

    .btn-primary {
      position: relative;
      color: white;
      background-color: #1a2854;
      z-index: 10;
    }

    .btn-primary::after {
      content: '';
      display: block;
      position: absolute;
      transform-origin: left;
      transform: scaleX(0);
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: -2;
      transition: all 300ms;
    }

    .btn-primary:hover::after {
      transform: scaleX(1);
      background-color: black;
    }

    .hero-image {
      padding-right: 50px;
      padding-left: 50px;
      img {
        max-height: 333px;
      }
    }
  }

  .benefit {
    margin-top: 70px;

    .card-benefit {
      display: flex;
      align-items: flex-start;
      margin-top: 80px;

      .body-benefit {
        margin-left: 20px;

        .title-benefit {
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
        }

        .subtitle-benefit {
          font-weight: 300;
          line-height: 27px;
        }
      }
    }
  }

  .new-products {
    margin-top: 120px;
  }

  .order-procedure {
    text-align: center;
    margin-top: 120px;

    .card-order {
      margin-top: 80px;

      img {
        max-height: 120px;
      }

      .title-order {
        margin-top: 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 33px;
      }

      .subtitle-order {
        font-weight: 300;
        line-height: 27px;
      }
    }
  }
}
